/* You can add global styles to this file, and also import other style files 
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
*/
body{
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    margin: 0;
}
app-root{
    position: absolute;
    width:100%;
    top: 56px;
    bottom:0;
}
app-navbar {
    position: fixed;
    top: 0;
    width:100%;
    z-index: 2;
}
.docs-navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 16px;
}
.docs-header-background{
    overflow: hidden;
    background: #0D47A1;
}
.docs-header-section{
    text-align: center;
    padding-top: 43px;
}
.docs-header-headline{
    color: #fff;
}
.docs-header-headline h1{
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
}
.docs-header-headline h2{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 15px 0 25px 0;
    font-weight: 400;
}
.mat-h1{
    font: 400 24px/32px Roboto,Helvetica Neue,sans-serif;
    margin: 0 0 16px;
}
.docs-header-start{
    text-align: center;
    margin: 60px 0;
    color: #0D47A1;
}
.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}
.mat-toolbar-row{
    height: 40px !important;
}
.mat-toolbar-multiple-rows {
    min-height: 40px !important;
}
.docs-homepage-promo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px;
}
.docs-homepage-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 920px;
    margin: 60px 0;
}
.docs-homepage-promo-desc{
    line-height: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.docs-homepage-promo h3 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px 0;
    padding: 0;
}
.formdiv{
    margin: auto;
    width:30%;
    padding: 30px;
    margin-top: 40px;
    background: white;
}
h2{
    font-size: 35px;
    font-weight: 300;
    line-height: 25px;
    margin: 15px 5px;
}
h4{
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    margin:0;
}
.primary-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0D47A1!important;
    color: #fff!important;
}
.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
    margin-top: 10px;
  }
  .table-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .table-container{
    margin: auto;
    width: 75%;
    padding: 30px;
    margin-top: 40px;
    background: white;
  }
  a {
    text-decoration: none;
  }
  .primary-color {
    background-color: #0D47A1!important;
    color: #fff!important;
  }
  .edit-form-div{
    width:auto;
    padding-bottom: 20px;
  }
  .edit-form-div mat-form-field{
      width:45%;
      float:left;
      padding-right: 10px;
  }
  mat-divider{
      padding-bottom: 25px;
  }
.container{
    background: #E0E0E0;
    overflow-y: auto;
    height: 100%;
    position: sticky;
}