<div class="table-container mat-elevation-z6">
  <h2 class="page-header">Users</h2>
  <app-edit-user [user]="selectedUser"></app-edit-user>
  <div class="example-container">
    <div class="table-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="active">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.isActive}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <a href="#" #editLink data-id="{{user._id}}" (click)="onEditUser(editLink.id)">
              <mat-icon color="primary">mode_edit</mat-icon>
            </a>
            <a href="#" #deleteLink data-id="{{user._id}}" (click)="onDeleteUser(deleteLink.id)">
              <mat-icon color="primary">delete</mat-icon>
            </a>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
<!--<div class="table-responsive">
  <table class="table table-striped table-hover" [mfData]="users" #mf="mfDataTable" [mfRowsOnPage]="5" [mfSortBy]="username">
    <thead class="thead-dark">
      <tr>
        <th>
          <mfDefaultSorter by="name">Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="username">Username</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="email">Email</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="isActive">Active</mfDefaultSorter>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td>{{item.isActive}}</td>
        <td>
          <a href="#" #editLink data-id="{{item._id}}" (click)="onEditUser(editLink.id)"><i class="material-icons">mode_edit</i></a>
          <a routerLink="/{{item._id}}"><i class="material-icons">delete</i></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>-->