<div *ngIf="user" class="col-lg-6">
  <h4>Edit User</h4>
  <form novalidate (submit)="onEditUserSubmit(user)" class="edit-form" #editForm="ngForm">
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Name" [(ngModel)]="user.name" #name="ngModel" name="name" required>
        <mat-error *ngIf="name.errors?.pattern">
          Please enter a valid name
        </mat-error>
        <mat-error *ngIf="name.errors?.required">
          Name is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
          <input type="text" matInput placeholder="Email" [(ngModel)]="user.email" #email="ngModel" name="email" [pattern]="emailPattern" required>
          <mat-error *ngIf="email.errors?.pattern">
              Please enter a valid name
            </mat-error>
            <mat-error *ngIf="email.errors?.required">
              email is
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" class="primary-btn">Update</button>
    </form>
</div>