<div class="jumbotron text-center">
  <h1>Mean Authentication App</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']" role="button">Register</a>
    <a class="btn btn-secondary" [routerLink]="['/login']" role="button">login</a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Hello world</h3>
    <p>hello world text</p>
  </div>
  <div class="col-md-4">
    <h3>Hello world</h3>
    <p>hello world text</p>
  </div>
  <div class="col-md-4">
    <h3>Hello world</h3>
    <p>hello world text</p>
  </div>
  <button mat-button>my button</button>
</div>