<header class="docs-header-background" color="primary">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">MEAN Auth App</h1>
      <h2> This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</h2>
    </div>
    <div class="docs-header-start">
      <a mat-button [routerLink]="['/login']" class="docs-button mat-raised-button">Login</a>
      <a mat-button [routerLink]="['/register']" class="docs-button mat-raised-button">Register</a>
    </div>
  </div>
</header>
<div class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-desc">
      <h3>Hello world</h3>
      <p>hello world text</p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-desc">
      <h3>Hello world</h3>
      <p>hello world text</p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-desc">
      <h3>Hello world</h3>
      <p>hello world text</p>
    </div>
  </div>
</div>
<!--<header>
  <div class="docs-header-section">
    <h1>Mean Authentication App</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']" role="button">Register</a>
      <a class="btn btn-secondary" [routerLink]="['/login']" role="button">login</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Hello world</h3>
      <p>hello world text</p>
    </div>
    <div class="col-md-4">
      <h3>Hello world</h3>
      <p>hello world text</p>
    </div>
    <div class="col-md-4">
      <h3>Hello world</h3>
      <p>hello world text</p>
    </div>
    <button mat-button>my button</button>
  </div>
</header>-->