<header class="docs-header-background" color="primary">
    <div class="docs-header-section">
      <div class="docs-header-headline">
        <h1 class="mat-h1">Angular Material</h1>
        <h2> Material Design components for Angular</h2>
      </div>
      <div class="docs-header-start">
        <a class="docs-button mat-raised-button" mat-raised-button="" routerlink="/guide/getting-started" tabindex="0" aria-disabled="false"
          href="/guide/getting-started">
          <span class="mat-button-wrapper">Get started</span>
          <div class="mat-button-ripple mat-ripple" matripple=""></div>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </div>
    </div>
  </header>
<!--<header>
  <div class="docs-header-section">
    <h1>Mean Authentication App</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']" role="button">Register</a>
      <a class="btn btn-secondary" [routerLink]="['/login']" role="button">login</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Hello world</h3>
      <p>hello world text</p>
    </div>
    <div class="col-md-4">
      <h3>Hello world</h3>
      <p>hello world text</p>
    </div>
    <div class="col-md-4">
      <h3>Hello world</h3>
      <p>hello world text</p>
    </div>
    <button mat-button>my button</button>
  </div>
</header>-->